.cover__link {
    text-decoration: none;
    min-height: 740px;
    width: auto;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../../images/cover-route-66.jpg);
    background-position: center top;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;   

}

.cover__link:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #2a2c2f;
    position: absolute;
    top: 0;
    left: 0;
    transition-delay: .4s;
    opacity: .5;
    transition-duration: .4s;
}


.cover__link:hover:after {
    opacity: .7;

}


/* tablets */
@media screen and (max-width: 1140px) {
 

   
    .cover__link {
        min-height: 640px;
    }
  
}


@media screen and (max-width: 985px)
{
    .cover__link {
        min-height: 615px;
    }


}


/* large smart phone */
@media screen and (max-width: 768px) {
   
  
    .cover__link {
        min-height: 480px;
    }
}

/* med smart phone */
@media screen and (max-width: 629px) {
   
  
    .cover__link {
       min-height: 393.125px ;
    }
}


/* small smart phone */
@media screen and (max-width: 435px) {

    .cover__link {
        min-height: 200px;
     
    }
}