@import url('../photo-grid/__container/photo-grid__container.css');
@import url('../photo-grid/__image/photo-grid__image.css');

.photo-grid {
    margin: 92px 0 0;
    
       
}



/* tablets */
@media screen and (max-width: 1160px) { 

    .photo-grid {
        margin-left: 48px;
     
    }
}


/* large smart phone */
@media screen and (max-width: 990px) {

    .photo-grid {
        margin-left: 24px;
        max-width: 720px;
       
           
    }


}



/* small smart phone */
@media screen and (max-width: 435px) {
.photo-grid {
    margin-left: 16px;


    }
}