.intro__subtitle {
    font-size: 24px;
    line-height: 34px;
    max-width: 690px;
  }


  

/* small smart phone */
@media screen and (max-width: 435px) {
  .intro__subtitle {
    font-size: 24px;
    line-height: 30px;
    
  }
  }
  