.places__url {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: .2em;
    margin: 0;
    color: #AAAAAA;
}





  /* tablets */
  @media screen and (max-width: 1140px) {

    .places__url {

        font-size: 12px;
        line-height: 12px

    } 
  }

