
.places__image {
    max-width: 460px;
    width: 100%;
    margin-right: 40px;
}


/* tablets */
@media screen and (max-width: 1160px) {

    .places__image {
        max-width: 440px;
    }


}


/* large smart phone */
@media screen and (max-width: 990px) {

    .places__image {
        max-width: 340px;
    
    
    }
  


}



  


/* small smart phone */
@media screen and (max-width: 435px) {


    .places__image {
     max-width: 100vw;
     margin-top: 0;
     margin-bottom: 32px;
     margin-right: 0;
    }
}