
.places__image {
    max-width: 460px;
    width: 100%;
   
}


/* tablets */
@media screen and (max-width: 1024px) {

    .places__image {
        max-width: 440px;
    }
}


/* large smart phone */
@media screen and (max-width: 768px) {

    .places__image {
        max-width: 340px;
    
    
    }
}

/* small smart phone */
@media screen and (max-width: 435px) {


    .places__image {
     max-width: 100vw;
     margin-top: 0;
     margin-bottom: 32px;
     margin-right: 0;
    }
}

