.photo-grid__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: auto;
    gap: 16px;
    width: 100%;
    list-style: none;
    padding: 0;
    } 



    /* small smart phone */
@media screen and (max-width: 435px) {
    .photo-grid__container {
        padding: 0;
    }
}