.lead__title {
    max-width: 720px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    text-align: center;
    margin: 0 auto;

}


/* small smart phone */
@media screen and (max-width: 435px) {



    .lead__title {
      font-size: 40px;
      line-height: 44px;
    }
}