
@import url('../intro/__title/intro__title.css');
@import url('../intro/__subtitle/intro__subtitle.css');
@import url('../intro/__paragraph/intro__paragraph.css');
@import url('../intro/__stats/intro__stats.css');
@import url('../intro/__span-accent/intro__span-accent.css');


.intro {
    max-width: 984px;
    width: 100%;
    margin: 92px auto 0;
    display: flex;
    flex-direction: column;
   
}





/* tablets */
@media screen and (max-width: 1024px) {
    .intro {
       
        max-width: 928px;
    }
}




/* large smart phone */
@media screen and (max-width: 990px) {

    .intro {
       max-width: 720px;
        margin-top: 88px;
        margin-left: 24px;
    }

}


/* small smart phone */
@media screen and (max-width: 435px) {

    .intro{

        max-width: calc(100vw - 32px);
        margin-left: 16px;
       margin-top: 64px;
        
    }

}

