.cover__text {
    margin-top: 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    max-width: 320px;
    text-align: center;
    position: relative;
    z-index: 1;
    max-width: 320px;
}

/* tablets */
@media screen and (max-width: 1160px) {




}


/* large smart phone */
@media screen and (max-width: 990px) {

}


/* med smart phone */
@media screen and (max-width: 635px) {

    .cover__text {
        max-width: 320px;
        
    }

}



/* small smart phone */
@media screen and (max-width: 435px) {

.cover__text {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;

}
}