.lead__subtitle {
    max-width: 620px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 30px auto 64px auto;

}

/* small smart phone */
@media screen and (max-width: 435px) {



    .lead__subtitle {
      font-size: 16px;
      line-height: 20px;
      margin-left: 16px;
    }

}