.intro__paragraph {
    font-size: 16px;
    line-height: 26px;
    max-width: 690px;
    margin-top: 32px;
}








/* large smart phone */
@media screen and (max-width: 990px) {

    .intro__paragraph {
       max-width: 720px;
       
    }

}

@media screen and (max-width: 746px) {

    .intro__paragraph {
        
    max-width: calc(100vw - 50px);
 
}



}




