.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    min-width: 656px;
    text-align: center;
    margin: 0;
    position: relative;
    z-index: 1;
}




/* tablets */
@media screen and (max-width: 1160px) {




}


/* large smart phone */
@media screen and (max-width: 629px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }

}



/* small smart phone */
@media screen and (max-width: 435px) {

    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }
}