
.photo-grid__image {
    width: 100%;
  
}








/* tablets */
@media screen and (max-width: 1160px) {

    .photo-grid__image {
        max-width: 300px;
        
        }


}


/* large smart phone */
@media screen and (max-width: 990px) {
    .photo-grid__image {
        max-width: 352px;
       
        }
}


/* small smart phone */
@media screen and (max-width: 435px) {

    .photo-grid__image {
        max-width: 288px;
     
      
        }
    

}