
.places__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 40px;
    row-gap: 48px;
    margin-bottom: 80px;

}


.places__item:last-child {
    margin-bottom: 0;

}




/* large smart phone */
@media screen and (max-width: 990px) {

    .places__item  {
        margin-bottom: 72px;

    }



}


  

/* small smart phone */
@media screen and (max-width: 435px) {




    .places__item {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
       
    }
}